body{
    margin: 0px 10px;
}

.button {
    z-index: 20;
    margin: 10px;
    height: 66px;
    width: 66px;
    border-color: #00FFFF;
    border-radius: 50%;
    background-color: transparent;
    transition: 1.2s;
    
}
.u{
    position: fixed;
    bottom: 20px;
    right: 0;
    
}
.d{
    position: fixed;
    bottom: 95px;
    right: 0;
}
.t{
    position: fixed;
    bottom: 170px;
    right: 0;
}
.c{
    position: fixed;
    bottom: 245px;
    right: 0;
}

.Logo{
    background-color: black;
    position: absolute;
    z-index: 20;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

.button:hover{
    border: 2px solid #00d7c3;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    transition: 1.2s;
}

.icon{
    color: #00FFFF;
}