body{
    margin: 0px 10px;
}

.button {
    margin: 10px;
    height: 66px;
    width: 66px;
    border-color: white;
    border-radius: 50%;
    background-color: transparent;
    transition: 1.2s;
    
}

.Logo{
    background-color: black;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;

}

.button:hover{
    border: 2px solid #fccbcb;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.2s;
    box-shadow: 3px 3px 3px #7df8ec;
}

.icon{
    color: white;
}